.card{
    width: 250px;
    position: relative;
}

.card-opinion{
    display: flex;
    align-items: center;
}

.card-image{
    width: 250px;
}

.gray{
    color: #595959;
}

.star{
    color: #FF5A5F;
}

.sold-out{
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: white;
    padding: 4px 6px;
    border-radius: 2px;
    font-weight: bold;
}